first-neural-network/build-neural-network/mnist
intro-to-tflearn/digit-recognition-with-tflearn/mnist
intro-to-tensorflow/digit-recognition-with-tensorflow/mnist

intro-to-tensorflow/intro-to-tensorflow/notMNIST_train.zip
intro-to-tensorflow/intro-to-tensorflow/notMNIST_test.zip
intro-to-tensorflow/intro-to-tensorflow/notMNIST.pickle

sentiment-network/Siraj-Sentiment-Analysis/imdb.pkl

*.ipynb_checkpoints
*.__pycache__
*.pyc
