first-neural-network/build-neural-network/MNIST_data
intro-to-tflearn/digit-recognition-with-tflearn/MNIST_data
intro-to-tensorflow/digit-recognition-with-tensorflow/MNIST_data
deep-neural-network/multilayer-perceptron/MNIST_data
deep-neural-network/save-load-model/MNIST_data
convolution-network/MNIST_data

intro-to-tensorflow/intro-to-tensorflow/notMNIST_train.zip
intro-to-tensorflow/intro-to-tensorflow/notMNIST_test.zip
intro-to-tensorflow/intro-to-tensorflow/notMNIST.pickle

sentiment-network/Siraj-Sentiment-Analysis/imdb.pkl

embeddings/checkpoints/
embeddings/data/
embeddings/text8.zip

*.ipynb_checkpoints
*.__pycache__
*.pyc
